<div class="p-4 rounded bg-light mb-3">
    <p>Je suis intéressé par</p>
    <a href="{{ path('investisseur_subscription') }}" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;font-family: 'Playfair Display'">
        la méhtode intraday
    </a>
</div>