{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">« Se simplifier la vie c'est le luxe suprême ! »</h1>
            <span class="fst-italic">Léonard de Vinci</span>
            <p class="lead my-3">Une méthode simple c'est le luxe suprême ! La méthode <span class="fw-bold">ZENBOURSE</span> c'est le luxe suprême !</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="row g-5" >
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">Les boîtes de DARVAS</h3>
                <div class="" id="article-liste">
                    {% include 'article/homeArticle.html.twig' with {homeArticle} %}
                </div>
            </div>   
            <div class="col-md-4">

                <div class="position-sticky" style="top: 10rem;">

                    {% include 'widget/about.html.twig' %}

                    {% include 'widget/categories.html.twig' with {categories} %}

                    {% include 'widget/contact.html.twig' %}             

                </div>

            </div>

        </div>   
    
    </main>
{% endblock %}
