<div class="bg-light position-sticky" style="top: 9.3rem; z-index: 1">
    <div class="container">
        <div class="nav-scroller py-2">
            <div class="py-3 blog-nav d-flex align-items-center justify-content-start border-0">
                <span class="fw-bolder m-0">LA MÉTHODE -></span>
                <nav class="nav d-flex justify-content-between text-uppercase">
                    {% for submenu in get_sub_menus(menu) %}
                        <a class="px-4 link-secondary" href="{{ path('app_methode') }}">I</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</div>