{% extends 'base.html.twig' %}

{% block title %}Zenbourse - Mon profile{% endblock %}

{% block body %}

    {% include 'registration/partials/menu.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Votre profile</h3>

        </div>
    </div>
</div>
{% endblock %}
