<div class="p-4 rounded bg-light">
    <p>Les valeurs de</p>
    <a href="{{ path('app_investisseur') }}" class="fst-italic text-dark fw-bolder text-uppercase" style="font-size: 20px;font-family: 'Playfair Display'">
        L'etude statistique
    </a>
</div>